<p>Calculadora </p>
<section id="calculator">
    <h2>Calculadora</h2>
    <div class="calculator">
        <input type="text" id="displayCalcu" [value]="displayCal" readonly>
        <br>
        <button (click)="add(v_7)">{{v_7}}</button>
        <button (click)="add(v_8)">{{v_8}}</button>
        <button (click)="add(v_9)">{{v_9}}</button>
        <button (click)="add(v_clear)">{{v_clear}}</button>
        <br>
        <button (click)="add(v_4)">{{v_4}}</button>
        <button (click)="add(v_5)">{{v_5}}</button>
        <button (click)="add(v_6)">{{v_6}}</button>
        <button (click)="add(v_plus)">{{v_plus}}</button>
        <br>
        <button (click)="add(v_1)">{{v_1}}</button>
        <button (click)="add(v_2)">{{v_2}}</button>
        <button (click)="add(v_3)">{{v_3}}</button>
        <button (click)="add(v_minus)">{{v_minus}}</button>
        <br>
        <button (click)="add(v_0)">{{v_0}}</button>
        <button (click)="add(v_dot)">{{v_dot}}</button>
        <button (click)="add(v_divide)">{{v_divide}}</button>
        <button (click)="add(v_result)">{{v_result}}</button>
        <br>
        <button (click)="reorder()">Reordenar</button>
    </div>
</section>

<footer>
    <p>© 2024 Fernando Sánchez</p>
</footer>    